# dependencies
node_modules/
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production build
/build

# env files
.env
.env.test
.env.test.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts
/dist

# playwright
e2e/.auth/
e2e/test-results/
e2e/playwright-report/
e2e/results.xml
